{% load rest_framework %}
{% load common_function %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
{% include "ERP/includes/header.html" %}
<body>
	<!-- Aside Start-->
	{% include "ERP/includes/left_menu.html" %}
	<!-- Aside Ends-->
	<!--Main Content Start -->
	<section class="content">
		<!-- Header -->
		{% include "ERP/includes/top_menu.html" %}
		<!-- Header Ends -->
		<!-- Page Content Start -->
		<div class="wraper container-fluid">


			<form method="post" name="frm" id="frm">
				{% csrf_token %}
				<div class="page-title">
					<div class="col-md-6 ">
						<h3 class="title">{{ module }}</h3>
					</div>
					<div class="col-md-6 text-right">
						<a href="{% url 'ERP:suppliergroup_list' %}"> <i
							class="fa fa-eye fa-2x text-inverse"></i>
						</a>
					</div>

				</div>

				<div class="row">

					{% if error_data or success_data%}

					<div class="col-md-12">
						<div {% if error_data  %} class="alert alert-danger"
							{% endif %} {% if success_data  %} class="alert  alert-success"{% endif %}>
							{% if error_data %} {{error_data.Error.message}} 
							{% for error_details in error_data.Error.error_details %}
							{{error_data..Error.error_details}} </Br> {{error_details.field}} ->
							{{error_details.message}} {% endfor %} {% endif %} {% if
							success_data %} <strong>Well done!</strong> {{success_data}}. {%
							endif %}
						</div>
					</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{ module }}</h3>
							</div>
							<div class="panel-body">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<label for="entry_date">Entry Date</label> <input type="text"
											class="form-control" id="entry_date" name="entry_date"
											value="{{data.entry_date}}" placeholder="Date">
									</div>
								
								<div class="form-group">
                                       {% drop_down_choice choice_name="purpose"  as list_dorp %}
                                       

                                        <label for="purpose">Purpose</label>
                                        <select class="form-control" id="purpose" name="purpose">
                                            <option value="">-- Select Purpose -- </option>
                                            {% for list_dorp_val in list_dorp %}
                                                <option value="{{ list_dorp_val.id }}" 
                                                {% if list_dorp_val.id == data.size %}
    selected="true" 
    {% endif%} 

                                                > {{ list_dorp_val.text }} </option>
                                            {% endfor %}
                                        </select>
                                    </div> 
									<div class="form-group">
                                       {% drop_down_list tableName="ERP_warehouse" show_field_name="warehouse_name" store_field_name="id" as list_dorp %}
                                       

                                        <label for="warehouse_from">Warehouse</label>
                                        <select class="form-control" id="warehouse_from" name="warehouse_from">
                                            <option value="">-- Select Warehouse -- </option>
                                            {% for list_dorp_val in list_dorp %}
                                                <option value="{{ list_dorp_val.id }}" 
                                                {% if list_dorp_val.id == data.size %}
    selected="true" 
    {% endif%} 

                                                > {{ list_dorp_val.text }} </option>
                                            {% endfor %}
                                        </select>
                                    </div> 
									
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="description">Description</label><textarea class="form-control" id="description" name="description"></textarea>
									</div>
								</div>
</div>
<div class="col-md-12"><hr></div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="name">Item Name</label> <input type="text"
											class="form-control" id="item_name" name=item_name
											value="{{data.name}}" placeholder="Enter  Item Code">
											<input type="hidden"
											class="form-control" id="item" name="item">
									</div>
									<div class="form-group">
										<label for="qty">Qty</label> <input type="text"
											class="form-control" id="qty" name="qty"
											value="{{data.name}}" placeholder="Enter Qty">
									</div>
									<div class="form-group">
										<label for="serial_nos">Serial Nos</label> 
										<textarea class="form-control" id="serial_nos" name="serial_nos">
										
										</textarea>
											
											
									</div><div class="form-group">
										<label for="batch_no">Batch No</label> <input type="text"
											class="form-control" id="batch_no" name="batch_no"
											value="{{data.name}}" placeholder="Enter Batch No">
									</div>
									<div class="form-group">
									<input type="hidden" name="stockentry_id" id="stockentry_id" value="">
										<button type="submit" class="btn btn-info submit_btn"
											id="add_stock">Add</button>
										<button type="reset" class="btn btn-default reset_btn">Reset</button>
									</div>
								</div>

								<div class="col-md-6"><div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr> 
                                                       <th>S.No</th>
                                                        <th>Item Name</th>
                                                        <th>Qty</th>
                                                        <th>Serial No</th> 
                                                      	<th>Batch No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{lists_val.name}}</td>
														<td>{{lists_val.name}}</td> 
														<td>{{lists_val.name}}</td>
														<td>{{lists_val.name}}</td>
                                                    </tr>
                                                   
                                                    <tr>
                                                       <td>{{lists_val.name}}</td> 
                                                       <td>{{lists_val.name}}</td>
													   <td>{{lists_val.name}}</td> 
														<td>{{lists_val.name}}</td>
															<td>{{lists_val.name}}</td>
                                                    </tr>
                                                    
                                                    
                                                </tbody>
                                            </table>
                                        </div></div>
								<div class="col-md-12"></div>
								<!-- panel-body -->
							</div>
							<!-- panel -->

						</div>


					</div>




					<div class="row">

						<!-- Basic example -->
						<div class="col-md-12 text-right" {% if view_mode %} style="display: none"{% endif %}>
							<div class="panel panel-default">
								<div class="panel-body">
									<button type="submit" class="btn btn-success submit_btn"
										id="submit_frm">Submit</button>
									<button type="reset" class="btn btn-default reset_btn">Reset</button>
								</div>
								<!-- panel-body -->
							</div>
							<!-- panel -->
						</div>
						<!-- End row -->
			</form>
			<!-- Form-validation -->


		</div>
		<!-- Page Content Ends -->
		<!-- Footer Start -->
		{% include "ERP/includes/footer.html" %}
		<!-- Footer Ends -->
	</section>
	<!-- Main Content Ends -->

	{% include "ERP/includes/js_script.html" %}
	<!-- js placed at the end of the document so the pages load faster -->
</body>
</html>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script> -->
<!-- jQuery UI !-->
<link rel="stylesheet" href="{%static 'ERP/css/jquery-ui.css' %}">
<script src="{%static 'ERP/js/jquery-ui.min.js' %}"></script>
<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
	$(document).ready(function() {
		$("#submit_frm").click(function() {
			//FrmValidation();
			//alert("RE:");
		});
		   $('#entry_date').datepicker({
			   
			   dateFormat: 'dd-mm-yy'
			   
			   
		   });
		   
		   
	});
	$("#add_stock").click(function(){
		
		
		
		
		FrmValidation();
		
	});
	
	function FrmValidation()
	{
		$("#frm").validate({
			rules : {
				entry_date : {
					required : true,
				},
				purpose : {
					required : true,
				},
				warehouse : {
					required : true,
				},
				

			},
			  submitHandler: function(form) {
				
				  form=$("#frm")
				  $.ajax({
					  url: "../create/",
					  data: form.serialize(),
					  type: "Post",
					  success: function( date ) {
						  obj = JSON.parse(date);	
						  if(obj.status=="1")
						  {	  
							  testing=true;
							  $("#submit").trigger('click');
			                  return true;
						  }
						  else
						  { 
							  $("#err_msg_div").html(obj.msg);
							  $("#frm_vehicle_no").focus();
							  return false;
						  }
					  }
					  })
			  
			  }

		});
		
		return false;
		
	}
	  $(function() {
	    $("#item_name").autocomplete({
	      source: "/erp/item/item_list_autocomplete/",
	      select: function (event, ui) { //item selected
	        AutoCompleteSelectHandler(event, ui)
	      },
	      minLength: 2,
	    });
	  });

	  function AutoCompleteSelectHandler(event, ui)
	  {
		  var selectedObj = ui.item;
	        $("#item").val(selectedObj.id);
	  }
	  function stockentry_items(id)
	  {
			$.ajax({
				  url: "../stockentry_items/",
				  data:{"id":id},
				  type: "get",
				  success: function( date ) {
				  },
				  })
		}
</script>