{% load rest_framework %}
{% load common_function %}

<!DOCTYPE html>
<html lang="en">    

{% include "ERP/includes/header.html" %}
    <body>
        <!-- Aside Start-->
        {% include "ERP/includes/left_menu.html" %}
        <!-- Aside Ends-->
        <!--Main Content Start -->
        <section class="content">
            <!-- Header -->
           {% include "ERP/includes/top_menu.html" %}
            <!-- Header Ends -->
            <!-- Page Content Start -->
            <div class="wraper container-fluid">
              
               
               <form  method="post">   
                 {% csrf_token %}
                <div class="page-title"> 
                    <div class="col-md-6 ">
                        <h3 class="title"> {{ module }} List</h3> 
                    </div>
                    <div class="col-md-6 text-right">
                     <a href="{% url 'ERP:itembrand_create' %}">  <i class="fa fa-plus fa-2x text-inverse"></i> </a>
                    </div>
                        
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                            <h3 class="panel-title">{{ module }} List 
                                <span class="pull-right">
                                 <div class="dropdown pull-right">
                                    <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 2px 10px;">
                                     <span class="caret"></span></button>
                                         <ul class="dropdown-menu pull-right">
                                              <li><a href="#">PDF</a></li>
                                              <li><a href="#">Excel</a></li>
                                        </ul>
                                  </div>
                                </span>  
                            </h3>
                            </div><div class="panel panel-default">
                           
                            <div class="col-lg-12">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark text-uppercase">
                                    Search
                                </h3>
                                <div class="portlet-widgets">
                                     <a href="{% url 'ERP:itembrand_list' %}"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1" class="" aria-expanded="true"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                   
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet1" class="panel-collapse collapse" aria-expanded="true" ><div class="row"> 
                            <form  method="post">   
                               <div class="col-md-4">  
                                    <div class="form-group">
                                        <label for="state"> Brand Name</label>
                                        <input type="text" class="form-control" id="name" name="name"  value="{{custom_filter.name}}" placeholder="Enter Brand Name">
                                    </div>
                                    
                                    
                                   </div>
                              
                               
                                    <div class="col-md-12 pull-right text-right"><button type="submit" class="btn btn-primary submit_btn">Search</button></div>
                                </form>
                           </div>
                            </div>
                             </div> <!-- /Portlet -->
                         </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                    
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Item Group Name</th>
                                                       
                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for lists_val in data %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{lists_val.name}}</td>
                                                        
                                                       
                                                        <td>
                                                        <div class="dropup pull-right" >
                                                        <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 2px 10px;">
                                                         <span class="caret"></span></button>
                                                        <ul class="dropdown-menu pull-right" syle="z-index:1000px">
                                                        <li><a href="/erp/itembrand/update/{{ lists_val.id }}"><i class="fa fa-pencil"></i></a></li>
                                                        <li><a href="/erp/itembrand/view/{{ lists_val.id }}"><i class="fa fa-eye"></i></a></li>
                                                         <li><a href="/erp/itembrand/delete/{{ lists_val.id }}" onclick="return confirm_delete();" ><i class="fa fa-trash" ></i></a></li>
                                                        </ul>
                                                        </div>
                                                     </td>
                                                    </tr>
                                                   {% endfor %}
                                                    
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                 {% if data.has_other_pages %}
                                 <div class="col-sm-12 text-right">
                                    <div class="">
                                        <ul class="pagination">
                                            {% if data.has_previous %}

                                            <li class="paginate_button previous"  tabindex="0" >
                                                <a href="?page={{ data.previous_page_number }}">Previous</a>
                                            </li>
                                            {% else %}
                                              <li class="paginate_button previous disabled"  tabindex="0" >
                                                <a href="#">Previous</a>
                                            </li>
                                             {% endif %}

                                             {% for i in data.paginator.page_range %}
                                             {% if data.number == i %}
                                            <li class="paginate_button active"  tabindex="0">
                                                <a href="?page={{ i }}">{{ i }}</a>
                                            </li> {% else %}
                                            <li class="paginate_button "  tabindex="0">
                                                <a href="?page={{ i }}">{{ i }}</a>
                                            </li>{% endif %}
                                            {% endfor %}
                                            {% if data.has_next %}
                                            <li class="paginate_button next"  tabindex="0" id="datatable_next">
                                                    <a href="?page={{ lists.next_page_number }}">Next</a>
                                            {% else %}
                                            <li class="paginate_button next disabled"  tabindex="0">
                                                    <a href="#">Next</a>
                                            {% endif %}         
                                            </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </form>
             </div>
            <!-- Page Content Ends -->
            <!-- Footer Start -->
            {% include "ERP/includes/footer.html" %}
            <!-- Footer Ends -->
        </section>
        <!-- Main Content Ends -->
    
 {% include "ERP/includes/js_script.html" %}
        <!-- js placed at the end of the document so the pages load faster -->
    </body>
</html>
